{% extends "base.html" %}

{% block title %}HTTP Credentials{% endblock %}

{% block navbar_elements %}
<li><a href="#">Overview</a></li>
<li><a href="teamhome">Team Home</a></li>
<li><a href="settings">Settings</a></li>
{% endblock %}
{% block navbar_right %}
<li><a href="logout">Not {{ login_username }}? Logout</a></li>
{% endblock %}

{% block content %}
<h3>Edit HTTP Credentials</h3>
      <form name = "form" action = "httpSave" 
         method = "POST" >{% csrf_token %}
         
         <div style = "max-width:470px;">
            <center>
               <input type = "text" style = "margin-left:20%;" 
                  placeholder = "ipaddress" name = "ip_address" />
            </center>
         </div>
			
         <br>
         
         <div style = "max-width:470px;">
            <center>
               <input type = "text" style = "margin-left:20%;" 
                  placeholder = "port" name = "port" />
            </center>
         </div>
			
         <br>
         
         <div style = "max-width:470px;">
            <center> 
            
               <button style = "border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;margin-left:19%;" type = "submit" 
                  value = "Login" >
                  <strong>Submit HTTP Credentials</strong>
               </button>
               
            </center>
         </div>
         
      </form>
      
{% endblock %}
